<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Active Tickets</button>
          <span class="badge">14</span>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Completed Tickets</button>
          <span class="badge">14</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">My Tickets
          <button type="submit" class="btn-primary pull-right">Create New Ticket</button>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ticket Name</th>
                <th scope="col">Ticket Desc</th>
                <th scope="col">Ticket Status</th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of ticketData;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{ticket.ticket_name}}</td>
                <td>{{ticket.ticket_desc}}</td>
                <td>{{ticket.status}}</td>                
              </tr>              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>