
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Active Tickets</button>
          <span class="badge">14</span>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Completed Tickets</button>
          <span class="badge">14</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">My Tickets
          <!-- <button type="submit" class="btn-primary pull-right">Create New Ticket</button> -->
          <a routerLink="tickets/create" class="btn btn-sm btn-info pull-right">
            Create New Ticket
          </a>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">TicketID</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Serviced By</th>
                <th scope="col"></th>        
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of ticketData;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{ticket.subject}}</td>
                <td>{{ticket.status}}</td>
                <td>{{ticket.modifiedon}}</td>                
                <td></td>
                <td><button (click)="updateTicket(ticket)" class="btn btn-primary">Update</button>
                  <button (click)="getTicketDetails(ticket)" class="btn btn-primary">Details</button></td>
              </tr>              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>